.background
{
    background-color: #575757;
}

body
{
    color: rgb(72, 72, 72);
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;;
}

#container
{
    width: 40%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(226, 226, 226);
    margin: 0 auto;
    background-color: rgb(255, 255, 192);
}

#container h1
{
    background: brown;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#footer
{
    background: brown;
    color: white;
    text-align: center;
}